           /*---- media-query ----*/ 
@media only screen and (max-width: 400px) { 
  html { 
    font-size: 62.5%; 
  } 
} 
@media only screen and (min-width: 401px) and (max-width: 600px) { 
  html { 
    font-size: 78.125%; 
  } 
} 
@media only screen and (min-width: 601px) and (max-width: 768px) { 
  html { 
    font-size: 90%; 
  } 
} 
@media only screen and (min-width: 769px) and (max-width: 999px) { 
  html { 
    font-size: 105.7%; 
  }
} 
@media only screen and (min-width: 1000px) and (max-width: 1200px) { 
  html { 
    font-size: 121.8%; 
  } 
}
      /*---- body ----*/ 
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f242d;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'rubik', Sans-Serif;
}
       /*---- navbar ----*/
.navbar { 
  display: flex;
  background: transparent;
  backdrop-filter: blur(.3rem);
  border-bottom: .01rem solid #ffffff;
  transition: all .5s ease;
  color: white; 
  width: 100%; 
  height: 6rem; 
  padding: 0; 
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 99999; 
  top: 0; 
  left: 0; 
  right: 0; 
}
.logo-box {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: .4rem;
}
#logo {
  display: block;
  width: 20rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  pointer-events: none;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
  background: rgba(0,0,0,0.4);
}
.logo-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  z-index: 1;
  filter: blur(3rem);
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
  transform: skewX(-30deg);
  animation: shine 5s ease-in-out infinite;
}
@keyframes shine {
  0% { left: -150%; }
 50% { left: 150%; }
100% { left: 150%; }
}

       /*---- navigation bar ----*/
.nav-box {
  display: flex;
  position: fixed;
  gap: 1rem;
  color: #ffffff;
  top: 7rem;
  left: 0;
  right: 0;
  width: 75vw;
  padding: .5rem;
  margin: 0 auto;
  z-index: 1000;
  text-align: center;
  background: #2a303a;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: .2rem;
  backdrop-filter: blur(.3rem);
  border: .01rem solid #ffffff;
  background: rgba(0,0,0,0.3);
}
.nav-box div:first-child {
  transition: color .3s ease;
}
.nav-box div:first-child:hover {
  color: #da23d6;
}
.nav-box div:last-child {
  color: #0ef;
  font-size: 1.2rem;
  font-weight: bold;
}
       /*---- front-page ----*/
#page-wrapper {
  display: grid;
  flex: 1;
  margin-top: 6.05rem;
  place-items: center;
}
.logo-color {
  background: linear-gradient(to right, #0fcefa, #8367da, #da23d6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.feedback-container {
  display: grid;
  position: relative;
  color: #ffffff;
  background-color: transparent;
  box-shadow: 0 .3rem 1rem #007bff;
  border: .1rem solid #0ef;
  border-radius: .8rem; 
  margin-top: 6rem;
  margin-bottom: 5rem;
  padding: 2.5rem;
  place-items: center;
}
.fb_texts_div {
  display: grid;
  width: 21rem;
  place-items: center;
  margin: auto;
  width: 100%;
  border-radius: 1.5rem;
  position: relative;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
}
.fb_texts_div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background: linear-gradient(to right, #0fcefa, #8367da, #da23d6);
  background-size: 200% 100%;
  background-position: 0 0;
  transition: background-position .5s ease-in-out;
  z-index: 2;
}
.fb_texts_div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  border-radius: 0 0 1.5rem 1.5rem;
  background: linear-gradient(to left, #0fcefa, #8367da, #da23d6);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s ease-in-out;
  z-index: 2;
}
.fb_texts_div:hover::before {
  background-position: 100% 0;
}

.fb_texts_div:hover::after {
  background-position: 0 0;
}
#fb-heading {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 1.8rem;
  font-family: 'Rubik Scribble', system-ui;
}
.head-line {
  color: #ffffff;
  text-align: center;
  margin: 1rem 0;
  width: 18rem;
  line-height: normal;
}
form  {
  margin-top: 2rem;
  padding: 0;
}
.error {
  display: none;
  color: red;
  margin: 0 0 0 .8rem;
  transform: translateY(-.8rem);
}
.error.report {
  display: block;
}
label {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-left: .5rem;
  margin-bottom: .5rem;
  pointer-events: none;
}
.inp_text_imp:after {
  content:" *";
  color: red;
}
input, textarea {
  display: block;
  background: transparent;
  color: white;
  padding: .8rem;
  width: 20.8rem;
  margin-bottom: 1.5rem;
  border-radius: .4rem;
  border: .1rem solid #0ef;
  transition: all .3s ease;
}
input:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
select {
  display: block;
  background: transparent;
  color: white;
  padding: .8rem;
  width: 22.6rem;
  margin-bottom: 1.5rem;
  border-radius: .4rem;
  border: .1rem solid #0ef;
}
select:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
textarea {
  min-height: 5rem;
  resize: vertical;
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
.fb-label {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  flex-direction: column;
}
#fb-char {
  display: block;
  position: absolute;
  font-size: 1rem;
  color: grey;
  right: .5rem;
  bottom: 0;
  margin: 0;
  padding: 0 .7rem;
  transform: translateY(0);
  border-radius: .4rem .4rem 0 0;
  border: .1rem solid #0ef;
  border-bottom: none;
  transition: all .3s ease;
}
#fb-char.warn {
  transform: translateY(-.5rem);
  border-radius: .4rem;
  border: .1rem solid red;
}
.valid {
  border: .1rem solid #00cc00 !important;
}
.invalid {
  border: .1rem solid red !important;
}
#rating-container {
  display: grid;
  position: relative;
  margin-bottom: 1.5rem;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
  background: transparent;
  border-radius: .4rem;
  place-items: center;
  border: .1rem solid #0ef;
  transition: border-color .3s ease;
}
.stars {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.star-box {
  display: grid;
  position: relative;
  margin: 0;
  padding: 0;
  place-items: center;
  overflow: visible;
}
.star {
  font-size: 2rem;
  color: #555;
  opacity: 1;
  margin: 0;
  padding-top: .1rem;
  overflow: visible;
  text-shadow: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.7); /* 3D effect */
  transition: color 0.3s, transform 0.2s, opacity 0.3s ease, box-shadow .3s ease;
}
.star.hide {
  opacity: 0;
}
.star.selected, .star:hover {
  color: #0ef;
  transform: scale(1.1); /* Slight zoom on hover or selection */
}
.face {
  position: absolute;
  font-size: 2.5rem;
  opacity: 0;
  margin: 0;
  padding-top: .1rem;
  visibility: hidden;
  color: #555;
  transition: opacity 0.3s ease, visibility 0.3s ease, box-shadow .3s ease;
}
.face.show {
  opacity: 1;
  visibility: visible;
}
.full-star {
  background: linear-gradient(to right, #0fcefa, #da23d6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: none;
  box-shadow: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.7); /* 3D effect */
}
.rating-label {
  position: absolute;
  padding: .5rem;
  margin: 0;
  bottom: 0;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-family: 'Times', 'Times New Roman', serif;
  border-radius: .4rem;
  border: .1rem solid #0ef;
  border-bottom: none;
  transition: border-color .3s ease, color .3s ease;
}
.rating-label.rate {
  color: red;
}
.shake {
  animation: shake .5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
button {
  display: block;
  background: transparent;
  padding: .6rem;
  color: #fff;
  width: 15rem;
  margin: auto;
  margin-top: 3rem;
  border-radius: .4rem;
  border: .01rem solid #0ef;
  transition: all .3s ease;
}
button:hover {
  border: .08rem solid #ffffff;
  box-shadow: 0 0 .5rem rgba(245, 245, 245, 0.5);
}
#form-error {
  display: none;
  color: red;
  width: 20rem;
  margin: auto;
  margin-top: 3rem;
  text-align: center;
  line-height: 1.5rem;
}
#success-box-bg {
  display: grid;
  position: fixed;
  z-index: 100000;
  left: 100%;
  right: 0;
  bottom: 0;
  top: 6.05rem;
  width: 100%;
  height: calc(100vh - 6.05rem);
  place-items: center;
  backdrop-filter: blur(.3rem);
  transition: all .5s ease;
  background-color: rgba(0, 0, 0, 0.4);
}
#success-box-bg.visible {
  left: 0;
}
.success-box {
  position: relative;
  background-color: #171717;
  width: 23rem;
  color: #ffffff;
  margin: 0;
  padding: 2.5rem 1.5rem;
  border: .1rem solid #0ef;
  border-radius: 2rem;
  text-align: center;
  transition: all .5s ease;
}
#close-success {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  color: #ffffff;
  padding: .4rem;
  font-size: 1.4rem;
  border-radius: .4rem;
  background: #1f242d;
  transform: translateY(0);
  box-shadow: 0 .4rem .6rem rgba(0, 0, 0, 0.5); /* Slight lift effect */
  transition: all .2s ease;
}
#close-success:hover {
  color: grey;
  box-shadow: 0 .6rem 1rem rgba(0, 0, 0, 0.7); /* Increase shadow on hover */
  transform: translateY(-.2rem); /* Slight hover lift */
}
.success-check {
  width: 4rem;
}
.pay-svg {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.pay-svg .pay-circle {
  animation: dash 2s ease-in-out;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.pay-svg .pay-check {
  stroke-dasharray: 700;
  animation: dash-check 1s ease-in-out forwards;
}
@keyframes dash-check {
  from {
    stroke-dashoffset: 700;
  }
  to {
    stroke-dashoffset: 1400;
  }
}
.success-box h2 {
  font-family: 'Times', 'Times New Roman', serif;
  color: deepskyblue;
  font-size: 1.5rem;
}
.success-box p {
  font-family: 'Fredoka', serif;
  margin: 0;
  line-height: 1.5rem;
  font-size: 1rem;
}

         /*-- Online/Offline status --*/
#status-bar {
  display: none;
  position: fixed;
  left: 0; 
  bottom: 0; 
  right: 0; 
  opacity: 0;
  width: 100%; 
  height: calc(100vh - 6.05rem); 
  z-index: 99999;
  place-items: center;
  transition: all .8s ease;
  background-color: #1f242d;
}
#status-bar-content {
  display: grid;
  margin: 0;
  padding: 0;
  place-items: center;
}
#status-bar-icons {
  display: flex;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: .1rem solid #0ef;
}
#internet-img {
  height: 10rem;
  width: 10rem;
  opacity: 1;
  pointer-events: none;
}
#no-internet-icon {
  position: absolute;
  opacity: 0;
}
.wifi-dot {
  animation: pulse-opacity 1s infinite ease-in-out;
}
.wifi-arc1 {
  animation: pulse-opacity 1.2s infinite ease-in-out;
}
.wifi-arc2 {
  animation: pulse-opacity 1.5s infinite ease-in-out;
}
.circle {
  animation: pulse-opacity-stroke 1s infinite ease-in-out;
}
.slash {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 1s ease-in-out forwards; /* One-time animation */
}
@keyframes pulse-opacity {
  0%, 100% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0.5;
  }
}
@keyframes pulse-opacity-stroke {
  0%, 100% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
}
@keyframes draw {
  0% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#internet-msg {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
}
         /*---- footer ----*/
.footer {
  display: flex;
  background: transparent;
  backdrop-filter: blur(.3rem);
  color: #0ef;
  border-top: .01rem solid #0ef;
  box-shadow: 0 -0.3rem 1rem #007bff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: 6rem;
  line-height: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
     /*---- loading ----*/
#loading-bg { 
  display: none; 
  position: fixed;
  left: 0; 
  bottom: 0; 
  right: 0; 
  width: 100%; 
  height: calc(100vh - 6.05rem); 
  z-index: 999999;
  place-items: center;
  background-color: rgba(0,0,0,0.4); 
} 
#loading {
  display: block;
  border: .01rem solid white; 
  border-radius: 50%;
  position: fixed;
  background-image: url('https://assets.onecompiler.app/42fkuwhzd/42u3dq83t/1000025857.gif');
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 99999; 
  height: 5rem; 
  width: 5rem;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
    transform: translate;
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading-error {
  display: none;
  position: fixed;
  width: 5rem;
  height: 5rem;
  fill: none;
  stroke: #ff0000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  border-radius: 50%;
  backdrop-filter: blur(.3rem);
  border: .1rem solid #ff0000;
}
















