           /*---- media-query ----*/ 
@media (max-width: 400px) { 
  html { 
    font-size: 62.5%; 
  } 
} 
@media (min-width: 401px) and (max-width: 600px) { 
  html { 
    font-size: 75%; 
  } 
} 
@media (min-width: 601px) and (max-width: 768px) { 
  html { 
    font-size: 87.5%; 
  } 
} 
@media (min-width: 769px) and (max-width: 999px) { 
  html { 
    font-size: 100%; 
  }
} 
@media (min-width: 1000px) { 
  html { 
    font-size: 112.5%; 
  }
}
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
      /*---- body ----*/ 
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f242d;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Fredoka', serif;
}
  
      /*---- navbar ----*/ 
.navbar { 
  display: flex;
  backround: transparent;
  background-color: rgba(42, 48, 58, 0.8);
  backdrop-filter: blur(1rem);
  border-bottom: .01rem solid #ffffff;
  transition: all .5s ease;
  color: white; 
  width: 100%; 
  height: 6rem; 
  padding: 0; 
  position: fixed;
  align-items: center;
  transform: translateY(-8rem);
  justify-content: space-between;
  text-align: center;
  z-index: 100000; 
  top: 0; 
  left: 0; 
  right: 0; 
}
.navbar.show {
  transform: translateY(0);
} 
#bell-box {
  display: none;
  position: relative;
  margin-left: 1rem;
  padding: 0;
  opacity: 1;
  visibility: visible;
  border-radius: .4rem;
  transition: opacity .5s ease, visibility .5s ease;
}
#bell-icon {
  display: block;
  color: #ffffff;
  font-size: 2rem;
  margin:0;
  padding: .25rem;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
}
#bell-dot {
  display: none;
  position: absolute;
  width: .8rem;
  height: .8rem;
  background-color: #00cc00;
  border-radius: 50%;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border: .2rem solid #1f242d;
}
#close-icon {
  display: none;
  color: #ffffff;
  font-size: 1.8rem;
  margin: 0;
  padding: .3rem .55rem .3rem .55rem;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
}                                        
.logo-box {
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  left: 50%;
  border-radius: .4rem;
  transform: translateX(-50%);
}
#logo {
  display: block;
  width: 20rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  pointer-events: none;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
  background: rgba(0,0,0,0.4);
}
.logo-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  z-index: 1;
  filter: blur(3rem);
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
  transform: skewX(-30deg);
  animation: shine 5s ease-in-out infinite;
}
@keyframes shine {
  0% { left: -150%; }
 50% { left: 150%; }
100% { left: 150%; }
}
#menu-btn {
  display: none;
  opacity: 1;
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #ffffff;
  visibility: visible;
  padding: .3rem .3rem 0 .3rem;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
  transition: border-color .5s ease, opacity .5s ease, visibility .5s ease;
}
#menu-btn.active {
  border-color: #0ef;
}
#menu-btn.close-pf {
  border-color: #9b7cff;
}
#my_menubar.hide, #menu-btn.hide, #bell-box.hide, #pc-dp-box.hide {
  opacity: 0;
  visibility: hidden;
}
#menu-icon {
  height: 2rem;
  width: 2rem;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;
}
#menu-btn.active #menu-icon {
  transform: rotate(-540deg);
}
#menu-btn.close-pf #menu-icon {
  transform: rotate(-90deg);
}
#pc-dp-box {
  display: none;
  opacity: 1;
  visibility: visible;
  border-radius: 50%; 
  overflow: hidden; 
  margin-right: 1rem;
  background: #f5f5f5;
  place-items: center;
  border: .08rem solid #fff;
  transition: opacity .5s ease, visibility .5s ease;
}
#pc-dp {
  width: 3.5rem; 
  height: 3.5rem;
  pointer-events: none;
}
#login {
  display: none;
  color: #ffffff;
  padding: .6rem 1.2rem;
  gap: .8rem;
  margin-left: auto;
  font-size: 1.2rem;
  align-items: center;
  margin-right: 1rem;
  background: #8367da;
  border-radius: .4rem;
  border: none;
}
@media (max-width: 999px) {
    #login span {
        display: none;
    }
}
        /*---- notification-bar ----*/
.sidebar { 
  display: block;
  height: 0; 
  width: 0;
  opacity: 0;
  position: fixed; 
  z-index: 99999; 
  top: 6.04rem; 
  left: 0; 
  bottom: 0;
  padding: 5rem 1.5rem;
  overflow-y: auto; 
  overflow-x: hidden;
  background: #2a303a;
  transform: scale(.5);
  box-sizing: border-box;
  transition: all .5s ease-out; 
}
.sidebar.open-msg {
  height: 100%;
  width: 100%;
  opacity: 1;
  transform: scale(1);
}
.sidebar::-webkit-scrollbar {
  display: none;
}
#default-notify-msg {
  visibility: visible;
  opacity: 1;
  position: relative;
  top: calc(50% - 6.04rem);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  transform: translateY(-50%) scale(1);
  transition: all .5s ease;
}
#default-notify-msg.invisible {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) scale(0);
}
.notification-message {
  display: flex;
  position: relative;
  margin: 1rem auto;
  padding: 1.2rem;
  max-width: 95%;
  padding-right: 3rem;
  font-size: 1rem;
  border-radius: 0.8rem;
  border: none;
  color: #999999;
  font-weight: normal;
  opacity: 1;
  transform: scale(1);
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(145deg, #1f242d, #16191f);
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.4), inset 0 .1rem .1rem rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  align-items: center;
  transition: all .5s ease;
}
.notification-message:not(.unseen):hover {
  color: lightgrey;
  transform: scale(1.02);
  background: linear-gradient(145deg, #1b1f26, #2d323d);
}
.notification-message.unseen {
  color: #fff;
  font-weight: bold;
  border: .05rem solid #0ef;
  background: linear-gradient(145deg, #3a4050, #232833);
}
.notification-message.unseen:hover {
  transform: scale(1.02);
  background: linear-gradient(145deg, #1b1f26, #2d323d);
}
.notification-message:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: .3rem;
  height: 100%;
  background: #555;
  border-radius: 0 .8rem .8rem 0;
  transition: background .5s ease;
}
.notification-message.unseen:before {
  background: #0ef;
}
.notification-message p {
  line-height: 1.3rem;
  margin-top: 0;
}
.timestamp {
  position: absolute;
  left: 1.2rem;
  bottom: .5rem;
  color: #999999;
  font-weight: bold;
}
.delete-icon {
  position: absolute;
  right: 1rem;
  font-size: 1.2rem;
  color: #ff0000;
  opacity: 1;
  visibility: visible;
  transition: all .3s ease;
}
.delete-icon:hover {
  color: #800000;
} 
.notification-message.unseen .delete-icon {
  opacity: 0;
  visibility: hidden;
}
.notification-message.fade-out {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.05);
}
         /*---- pc-menubar ----*/
.pc-menubar {
  display: none;
  backround: transparent;
  background-color: rgba(42, 48, 58, 0.8);
  backdrop-filter: blur(1rem);
  border-radius: 0 0 .8rem .8rem;
  border: .01rem solid #ffffff;
  transition: all .5s ease;
  color: white; 
  width: fit-content; 
  height: 4rem; 
  padding: 0 2rem;
  gap: 2rem;
  margin: 0 auto;
  position: fixed;
  align-items: center;
  tranform: translateY(-8rem);
  text-align: center;
  z-index: 100000; 
  top: 6.04rem; 
  left: 0; 
  right: 0; 
}
.pc-menubar a {
  transition: color .3s ease;
}
.pc-menubar a:hover {
  color: #ed91ec;
}
         /*---- menubar ----*/ 
.menubar {
  display: none;
  position: fixed;
  width: 100%;
  max-height: 100vh;
  left: 0;
  right: 0;
  opacity: 1;
  top: 0;
  visibility: visible;
  backdrop-filter: blur(.3rem);
  background: rgba(0,0,0,0.4);
  transition: all .5s ease-in-out;
  z-index: 99999;
  overflow: hidden;
  transform: translateY(-100%);
  border-radius: 0 0 .8rem .8rem;
  border-bottom: .01rem solid #ffffff;
}
.menubar.open-menu {
  top: 6.04rem;
  transform: translateY(0);
}
.header {
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  gap: 2rem;
  padding: 1rem 1.5rem;
  margin: 1.5rem auto 0 auto;
  width: 65vw;
  border-radius: .8rem;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(1rem);
} 
#acc-icon { 
  color: #262626;  
  line-height: 5.5rem; 
  font-size: 5.6rem; 
  position: absolute; 
}
.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#dp, #pf-pic {
  display: block;
  border-radius: 50%; 
  overflow: hidden; 
  width: 4.5rem; 
  height: 4.5rem; 
  pointer-events: none;
  background: #f5f5f5;
  border: .08rem solid #fff; 
} 
#default-profile-pic { 
  width: 5.5rem;
  height: 5.5rem;
}
#choose-profile-pic {
  display: none;
  width: 5.5rem;
  height: 5.5rem;
}
.file-upload { 
  position: absolute; 
  opacity: 0; 
  line-height: 5.5rem; 
  width: 5.5rem; 
} 
#acc-name { 
  margin-left: .8rem;  
  line-height: 7.8rem; 
  font-weight: bold; 
} 
#pro-name {
  font-weight: 500;
  color: #fff;
  margin: 0;
} 
#open-profile {
  font-size: 1.2rem;
  transition: color .3s ease, font-size .3s ease;
}
#open-profile:hover {
  color: #5932cd;
  font-size: 1.5rem;
}
#error-msg {
  position: absolute;
  display: none;
  color: red; 
  font-size: 1.2rem;
  margin: .4rem;
  margin-left: 28%;
  transition: transform 0.5s ease;
}
@keyframes hang {
  0% { transform: translateX(-5%); }
 50% { transform: translateX(5%); }
100% { transform: translateX(-5%); }
}
#success-msg {
  position: absolute;
  color: green; 
  font-size: 1.2rem; 
  margin: .4rem; 
  display: none; 
  margin-left: 28%; 
}
.text-options {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 0;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-option {
  display: flex;
  gp: 3rem;
  font-size: 1.2rem;
  color: #fff;
  padding: .8rem 2rem;
  background: #000;
  border-radius: .4rem;
  border: .01rem solid #fff;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  transition: border-color .3s ease;
}
#home {
  width: 50vw;  
}
#fee-submission {
  width: 60vw;  
}
#feedback {
  width: 70vw;  
}
#contact-us {
  width: 80vw;  
}
.menu-option:hover {
  border-color: #ed91ec;
}
.fa-arrow-right {
  transition: color .3s ease;
}
.menu-option:hover .fa-arrow-right {
  color: #da23d6;
}
.menu-option a {
  display: none;
}
#home {
  color: #0ef;
  border-color: #0ef;
  justify-content: center;
  transition: border-color .3s ease;
}
#home:hover {
  border-color: #da23d6;
}
.sign-options {
  display: flex;
  gap: 5rem;
  align-items: center;
}
#login-btn, #sign-btn {
  font-size: 1.2rem;
  color: #fff;
  padding: .8rem 2rem;
  background: #000;
  border-radius: .4rem;
  border: .01rem solid #fff;
  text-align: center;
}

     /*---- Front-page ----*/
#page-wrapper {
  display: block;
  flex: 1;
  width: 100vw;
  height: 100vh;
  margin-top: 6.04rem;
}
.logo-color {
  background: linear-gradient(to right, #0fcefa, #8367da, #da23d6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.bg1 {
  display: grid;
  position: relative;
  width: 100%;
  height: fit-content;
  color: #fff;
  margin: 0;
  padding: 2rem;
  padding-top: 5rem;
  place-items: center;
  box-sizing: border-box;
  background-image: url('https://uploads.onecompiler.io/42fkuwhzd/42u3dq83t/1000072436.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0 0 1rem 1rem;
}
.bg1 h1 {
  scale: 1;
  margin: 0;
  font-size: 1.8rem;
  padding: .5rem;
  font-family: "Chakra Petch", sans-serif;
  border-bottom: .1rem solid #8367da;
  border-radius: 0 0 .4rem .4rem;
  transition: all .5s ease;
}
.bg1 h1:hover {
  scale: .9;
  border-color: #0fcefa;
}
#start-btn {
  display: flex;
  width: 10rem;
  padding: .8rem;
  color: #ffffff;
  background: transparent;
  border-radius: 1rem;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-around;
  border: 1rem solid #1f242d;
}
.plane {
  position: absolute;
  width: 100%;
  height: 100%;
}
img {
    pointer-events: none;
}
.slider {
    padding: 0 2rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
    background: transparent;
    border-radius: .5rem;
}
.slider::-webkit-scrollbar {
    display: none;
}
.sb {
    position: relative;
    width: 30rem;
    height: 12rem;
    flex-shrink: 0;
    overflow: hidden;
    border: .1rem solid #0ef;
    border-radius: 1rem;
    scroll-snap-align: center;
    animation: none;
}
.slide-img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    pointer-events: none;
    transform: scale(1);
    transition: transform .5s ease;
}
.sb:hover .slide-img {
    transform: scale(1.05);
}
#slide-session {
    position: absolute;
    top: 1rem;
    left: 0;
    padding: .3rem .8rem .3rem .3rem;
    color: #ffffff;
    font-weight: bold;
    font-size: .9rem;
    background: #8367da;
    border-radius: 0 1rem 1rem 0;
}
.h-1 {
    display: flex;
    gap: .8rem;
    color: #fff;
    margin-left: 1.2rem;
    align-items: center;
    font-family: 'Fredoka', serif;
}
.h-1 i {
    color: #0ef;
}
.p-1 {
    width: fit-content;
    color: #a6a6a6;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    border-bottom: .05rem solid grey;
}
.p-box {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 0 1.5rem;
}
.p-2 {
    color: lightgrey;
    font-size: 1.5rem;
    text-align: left;
    line-height: 2.2rem;
}
.p-2 li::marker {
    color: #8367da;
}
.li-h {
    color: #a6a6a6;
}
h3 {
    color: #fff;
}
.p-box h3:before {
    content: '\f061';
    color: deepskyblue;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin-right: .5rem;
}
.img1 {
    display: block;
    width: 28rem;
    height: 13rem;
    margin: 2rem auto;
    boder-radius: .8rem;
    border: .1rem double #8367da;
}
.brand {
    text-align: center;
    font-sze: 4rem;
    font-weight: bold;
    letter-spacing: 1rem;
    font-family: 'Rubik', sans-serif;
    background-image: url('https://uploads.onecompiler.io/42fkuwhzd/42rfnf4fh/1000037890.jpg');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.s2, .s3, .s4 {
    display: flex;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.s2 {
    gap: 3rem;
}
.batch-boxes {
    color: white;
    display: grid;
    position: relative;
    background: #2a303a;
    width: 22rem;
    height: 8rem;
    flex-shrink: 0;
    padding: 2rem;
    place-items: center;
    border: .08rem solid #fff;
    transition: all .5s ease;
    -webit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);        
}
.batch-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .2rem .4rem;
}
.bl1 {
    background: rgba(0, 204, 0, 0.7);
}
.bl2 {
    background: rgba(218, 35, 214, 0.7);
}
.bl3 {
    background: rgba(0, 191, 255, 0.7);
}
.batch-icons {
    display: block;
    width: 3rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
}
.stack-icon {
    display: grid;
    position: relative;
    place-items: center;
}
.stack-i1 {
    position: absolute;
    bottom: 0;
    left: 0;
}
.stack-i2 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.bi2, .bi3 {
    font-size: 1.4rem;
}
.batch-boxes h2 {
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

@media (max-width: 768px) {
  .sidebar {
      padding: 0 1.5rem;
  }
  .bg1 {
      padding-top: 2rem;
  }
  .s3 {
      flex-direction: column;
  }
  .why-boxes {
      margin: auto;
  }
  .why-boxes:hover {
      transform: translateX(-2.5rem);
  }
}
.s3 {
    gap: 4rem;
}
.why-boxes {
    display: grid;
    background: #2a303a;
    width: 22rem;
    height: 15rem;
    flex-shrink: 0;
    padding: 2rem;
    place-items: center;
    border-radius: .8rem;
    border: .08rem solid #fff;
    transition: all .5s ease;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.why-boxes:first-child:hover {
    border-color: #ffb6c1;
}
.why-boxes:nth-child(2):hover {
    border-color: #87ceeb;
}
.why-boxes:nth-child(3):hover {
    border-color: #9b84e1;
}
.why-boxes:last-child:hover {
    border-color: #90ee90;
}
.why-icons {
    padding: 1rem;
    width: 3rem;
    font-size: 1.2rem;
    text-align: center;    
    border-radius: 4rem;
    background: #1f242d;
}
.wi1, .q1 {
    color: #ffb6c1;
}
.wi2, .q2 {
    color: #87ceeb;
}
.wi3, .q3 {
    color: #9b84e1;
}
.wi4, .q4 {
    color: #90ee90;
}
.why-boxes h2 {
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}
.why-boxes q {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Chakra Petch", sans-serif;    
}
.why-boxes p {
    margin: 0;
    text-align: left;
    color: lightgrey;
}
.review-boxes {
    display: grid;
    width: 25rem;
    height: 15rem;
    flex-shrink: 0;
    padding: 1.8rem;
    color: lightgrey;
    place-items: center;
    border-radius: .8rem;
    border: .08rem solid #fff;
    transition: all .5s ease;
}
.review-boxes:first-child {
    background: rgba(135, 206, 235, 0.5);
}
.review-boxes:nth-child(2) {
    background: rgba(144, 238, 144, 0.5);
}
.review-boxes:nth-child(3) {
    background: rgba(255, 182, 193, 0.5);
}
.review-boxes:nth-child(4) {
    background: rgba(0, 238, 255, 0.5);
}
.review-boxes:nth-child(5) {
    background: rgba(255, 184, 51, 0.5);
}
.review-boxes:last-child {
    background: rgba(155, 132, 225, 0.5);
}
.review-boxes div {
    text-align: left;
    color: lightgrey;
}
.review-boxes p {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.review-profile {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding-top: 1rem;
    border-top: .05rem solid #fff;
}
.review-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .05rem solid #fff;
}
.review-name h3 {
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    margin: 0;
}
.btn1 {
    display: block;
    margin: 0 auto;
    color: #fff;
    padding: 1rem;
    border-radius: .8rem;
    background: transparent;
    border: .1rem solid #0ef;
    transition: all .3s ease;
}
.btn1:hover {
    box-shadow: 0 .8rem 1.6rem rgba(0, 238, 255, 0.2);
    transform: translateY(-.5rem);
}







#acc-box-bg {
  display: grid;
  position: fixed;
  z-index: 100000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 6.04rem;
  width: 100%;
  height: calc(100vh - 6.04rem);
  place-items: center;
  backdrop-filter: blur(1rem);
  transition: all .5s ease;
  transform: translateX(100vw);
  background-color: rgba(42, 48, 58, 0.8);
}
#acc-box-bg.show {
  transform: translateX(0);
}
#acc-box {
  display: flex;
  position: relative;
  background: transparent;
  color: #ffffff;
  margin: 0;
  padding: 0;  
  overflow: hidden;
  border: .08rem solid #fff;
  border-left: none;
  border-radius: 2rem;
  align-items: centre;
  justify-content: center;
  transition: all .6s ease;
}
#front-box {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20rem;
  z-index: 99;
  padding: 0 4rem;
  text-align: center;
  background: #8367da;
  place-items: center;
  box-sizing: border-box;
  transition: all .6s ease-in-out;
  border-radius: 0 5rem 5rem 0;
  box-shadow: .2rem 0 .4 rgba(0, 0, 0, 0.5);
}
#front-box.move {
  left: calc(100% - 20rem);
  border-radius: 5rem 0 0 5rem;
}
#acc-box:has(#front-box.move) {
  border-right: none;
  border-left: .08rem solid #fff;
}
#front-box h1 {
  font-weight: 500;
  font-size: 1.5rem;
}
#toggle-form {
  width: 10rem;
  padding: .5rem;
  color: #8367da;
  background: #ffffff;
  border-radius: .6rem;
  pointer-events: auto;
  transition: all .3s ease;
  border: .1rem solid #fff;
}
#toggle-form.disable {
  pointer-events: none;
}
#toggle-form:hover {
  color: #ffffff;
  background: transparent;
}
#login-box {
  display: grid;
  opacity: 1;
  z-index: 9;
  padding: 2rem;
  visibility: visible;
  place-items: center;
  transition: all .6s ease;
}
#login-box.hide {
  opacity: 0;
  visibility: hidden;
}
#signup-box {
  display: grid;
  opacity: 0;
  z-index: 9;
  padding: 2rem;
  visibility: hidden;
  place-items: center;
  transition: all .6s ease;
}
#signup-box.show {
  opacity: 1;
  visibility: visible;
}

#google-btn {
  display: flex;
  gap: .7rem;
  align-items: center;
  width: fit-content;
  padding: .8rem 1rem;
  border-radius: .2rem;
  border: none;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 500;  
  color: #555;
  transition: all 0.3s ease;
  box-shadow: 0 .4rem .6rem rgba(255, 255, 255, 0.1);
  background: linear-gradient(to right, #ffffff, #f8f9fa);
}

#google-btn img {
  width: 1.5rem;
  height: 1.5rem;
}

#google-btn:hover {
  background: #f1f3f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

#google-btn:active {
  background: #e8eaed;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.separator {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  color: #808080;
  margin: 2.5rem 0;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 1rem;
}

form {
  display: grid;
}
#acc-box label {
  color: lightgrey;
  font-weight: bold;
  margin-left: .5rem;
  margin-bottom: .5rem;
  font-family: 'Rubik', sans-serif;
}
#acc-box input {
  width: 18rem;
  padding: .8rem;
  color: #ffffff;
  background: #2a303a;
  border-radius: .4rem;
  margin-bottom: 2rem;
  border: .1rem solid #0ef;
}
#acc-box input:focus {
  outline: none;
}
#forgot {
  margin: 0;
  margin-left: auto;
  text-align: right;
  width: fit-content;
}
#login-btn, #signup-btn, #resetPw-btn {
  width: 10rem;
  color: #ffffff;
  padding: .5rem;
  margin: 2rem auto;    
  background: #8367da;
  border-radius: .4rem;
  border: .1rem solid #8367da;
  transition: all .3s ease;
}
#login-btn {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
#login-btn:hover {
  color: #8367da;
  background: transparent;
}
#log-status, #sign-status, #forgot-status {
  display: block;
  color: orange;
  width: 18rem;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
}
#signup-btn {
  marin-bottom: 0 ;
}
#signup-btn:hover {
  color: #8367da;
  background: transparent;
}
#forgot-box {
  display: flex;
  position: absolute;
  background: #2a303a;
  padding: 2rem;
  z-index: 99;
  right: -100%;
  top: 50%;
  width: fit-content;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-50%);
  border-radius: .8rem 0 0 .8rem;
  border: .08rem solid #ffffff;
  border-right: none;
  transition: right .6s ease;
  box-shadow: -.2rem 0 1rem rgba(0,0,0,0.5);
}
#forgot-box.show {
  right: 0;
}
#resetPw-btn {
  margn: 0;
}
#resetPw-btn:hover {
  color: #8367da;
  background: transparent;
}
@media (max-width: 768px) {
  #acc-box {
      height: 45rem;
      border-top: none;
      align-items: stretch;
      justify-content: flex-start;
      flex-direction: column;
      box-sizing: border-box;
      border-left: .08rem solid #fff;
  }
  #front-box {
      left: unset;
      top: unset;
      bottom: unset;
      width: 100%;
      padding: 1rem;
      position: static;
      border-radius: 0 0 5rem 5rem;
  }
  #front-box.move {
      left: unset;
      border-radius: 0 0 5rem 5rem;
  }
  #login-box {
      height: 100%;
      visibility: unset;
      transform: translateY(0);
  }
  #login-box.hide {
      visibility: unset;
      transform: translateY(100%);
  }
  #signup-box {
      display: none;
      visibility: unset;
      height: 100%;
      transform: translateY(100%);
  }
  #signup-box.show {
      visibility: unset;
      transform: translateY(0);
  }
}


#profile-box {
    display: none;
    position: relative;
    backround: white;
    margin: 0;
    padding: 2rem;
    padding-bottom: 8rem;
    overflow: hidden;
    border-radius: .8rem;
    background:
      radial-gradient(27% 29% at right, #0000 83%,#ebebeb 85% 99%,#0000 101%) calc(20px/2) 20px,
      radial-gradient(27% 29% at left, #0000 83%,#ebebeb 85% 99%,#0000 101%) calc(20px/-2) 20px,
      radial-gradient(29% 27% at top, #0000 83%,#ebebeb 85% 99%,#0000 101%) 0 calc(20px/2),
      radial-gradient(29% 27% at bottom, #0000 83%,#ebebeb 85% 99%,#0000 101%) 0 calc(20px/-2)
      #f5f5f5;
    place-items: center;
    box-sizing: border-box;
    background-size: 3.3rem 3.3rem;
    box-shadow: 0 0 1rem .2rem #cccccc;
}
#pic-btns {
    display: flex;
    position: absolute;
    top: 0;
    gap: 2rem;
    right: -5rem;
    font-size: 1.2rem;
    align-items: center;
    padding: 1.5rem;
    flex-direction: column;
    border: .05rem solid #8367da;
    border-top: none;
    box-sizing: border-box;
    border-radius: .4rem 0 0 .4rem;
    transform: scale(.5);
    background-color: #f2f2f2;
    transition: all .5s ease;
    box-shadow: 0 0 2rem 1rem rgba(0,0,0,0.1);
}
#pic-btns.show {
    right: 0; 
    transform: scale(1);
}
#upload-btn {
    color: green;
}
#pic-del-btn {
    color: maroon;
}
#pf-pic-box {
    display: grid;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    place-items: center;
    margin-bottom: 2rem;
    border: .1rem double #ccc;    
}
#pf-pic {
    width: 6rem;
    height: 6rem;
}
#inp_pf_photo {
    display: none;
}
#close-pic {
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #bfbfbf;
    visibility: hidden;
    font-size: 2.5rem;
    position: absolute;
    place-items: center;
    box-sizing: border-box;
    transition: all .5s ease;
    background: rgba(255,255,255,0.8);
}
#close-pic.visible {
    opacity: 1;
    visibility: visible;
}
#profile-box input {
    width: 20rem;
    color: grey;
    background: #f2f2f2;
    border: .1rem solid #ccc;
    padding: .8rem;
    border-radius: .4rem;
    margin-bottom: 1rem;
}
#logout-btn {
    width: 17rem;
    padding: .6rem;
    color: maroon;
    margin-top: 3rem;
    background: #ffffff;
    border-radius: .6rem;
    border: .05rem solid maroon;
}
.pf-btn-box {
    display: grid;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    place-items: center;
    background: #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0 -.1rem 2rem .3rem #ccc;
}
#pf-btn {
    display: flex;
    position: relative;
    background: #ccc; 
    border: .05rem solid #fff; 
    height: 3.5rem; 
    width: 20rem; 
    padding: 1rem;
    color: #fff;
    scale: 1;
    overflow: hidden;
    border-radius: .8rem;
    align-items: center;
    justify-content: space-around;
}
#pf-btn:active {
    transform: scale(.985);
}
#pf-btn span {
    z-index: 99;
}
#pf-btn-slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 11rem;
    background: #8367da;
    border-radius: .8rem;
    transition: left .5s ease;
}
#pf-btn-slider.slide {
    left: calc(100% - 11rem);
}






         /*---- Initial animation ----*/
#initial-anime-bg {
  display: grid;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1000000;
  background: #000;
  place-items: center;
  visibility: visible;
  transition: all 3s ease;
  animation: bg-change 1.8s ease forwards 1.2s;
}
#initial-anime-bg.hide {
  opacity: 0;
  visibility: hidden;
}
@keyframes bg-change {
  0% {
    background: #000; 
  }
  100% {
    background: #161b25;
  }
}
#anime-logo-box {
  width: 7.5rem;
  overflow: hidden;
  border: none;
  transition: all 1s ease-in;
  animation: logo-anime 2s ease-in-out forwards 1s;
}
#anime-logo-box.hide {
  transform: translateY(calc(-50vh + 6rem/2)) scale(0);
}
@keyframes logo-anime {
  0% {
      width: 7.5rem;
  }
  100% {
      width: 30rem;
  }
}
#anime-logo {
  width: 30rem;
  height: 6rem;
}   




         /*-- Online/Offline status --*/
#status-bar {
  display: none;
  position: fixed;
  left: 0; 
  bottom: 0; 
  right: 0; 
  opacity: 0;
  width: 100%; 
  height: calc(100vh - 6.04rem); 
  z-index: 99999;
  place-items: center;
  transition: all .8s ease;
  background-color: #1f242d;
}
#status-bar-content {
  display: grid;
  margin: 0;
  padding: 0;
  place-items: center;
}
#status-bar-icons {
  display: flex;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: .1rem solid #0ef;
}
#internet-img {
  height: 10rem;
  width: 10rem;
  opacity: 1;
  pointer-events: none;
}
#no-internet-icon {
  position: absolute;
  opacity: 0;
}
.wifi-dot {
  animation: pulse-opacity 1s infinite ease-in-out;
}
.wifi-arc1 {
  animation: pulse-opacity 1.2s infinite ease-in-out;
}
.wifi-arc2 {
  animation: pulse-opacity 1.5s infinite ease-in-out;
}
.circle {
  animation: pulse-opacity-stroke 1s infinite ease-in-out;
}
.slash {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 1s ease-in-out forwards; /* One-time animation */
}
@keyframes pulse-opacity {
  0%, 100% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0.5;
  }
}
@keyframes pulse-opacity-stroke {
  0%, 100% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
}
@keyframes draw {
  0% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#internet-msg {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
}
     /*---- loading ----*/
#loading-bg { 
  display: none; 
  position: fixed;
  left: 0; 
  bottom: 0; 
  right: 0; 
  width: 100%; 
  height: calc(100vh - 6.05rem); 
  z-index: 999999;
  place-items: center;
  background-color: rgba(0,0,0,0.4); 
} 
#loading {
  display: block;
  border: .01rem solid white; 
  border-radius: 50%;
  position: fixed;
  background-image: url('https://uploads.onecompiler.io/42fkuwhzd/42u3dq83t/1000025857.gif');
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 99999; 
  height: 5rem; 
  width: 5rem;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading-error {
  display: none;
  position: fixed;
  width: 5rem;
  height: 5rem;
  fill: none;
  stroke: #ff0000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  border-radius: 50%;
  backdrop-filter: blur(.3rem);
  border: .1rem solid #ff0000;
}
#back-note {
  display: none;
  position: absolute;
  color: white;
  text-align: center;
  border-radius: .3rem;
  border: .01rem solid #0ef;
  padding: .4rem;
  bottom: .5rem;
}
#wait-note {
  display: none;
  position: absolute;
  color: white;
  text-align: center;
  border-radius: .3rem;
  border: .01rem solid #0ef;
  padding: .4rem;
  bottom: 3rem;
}
         /*---- footer ----*/
.footer {
    margin-top: 4rem;
    display: grid;
    background: rgba(22, 27, 37, 0.5);
    backdrop-filter: blur(.3rem);
    color: #ffffff;
    borer-top: .01rem solid #0ef;
    box-shadow: 0 -0.3rem 1rem rgba(0, 123, 255, 0.3);
    padding: 3rem 3rem 0 3rem;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    height: fit-content;
    place-items: center;
}
.links {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-direction: column;
}
.links .quick-link {
    display: none;
}
.links a {
    display: flex;
    gap: .6rem;
    width: fit-content;
    align-items: center;
    transition: all .3s ease;
}
.links a:hover {
    color: #9b84e1;
}
.links a:not(:has(i)) {
    display: none;
}
.© {
    color: #0ef;
    width: 100%;
    padding: .5rem;
    margin-top: 2rem;
    text-align: center;
    line-height: 1.5rem;
    border-top: .08rem solid #0ef;
    font-family: 'Ubuntu', sans-serif;
}
.brand-font {
    font-family: "Chakra Petch", sans-serif;
}














