           /*---- media-query ----*/ 
@media only screen and (max-width: 400px) { 
  html { 
    font-size: 62.5%; 
  } 
} 
@media only screen and (min-width: 401px) and (max-width: 600px) { 
  html { 
    font-size: 78.125%; 
  } 
} 
@media only screen and (min-width: 601px) and (max-width: 768px) { 
  html { 
    font-size: 90%; 
  } 
} 
@media only screen and (min-width: 769px) and (max-width: 999px) { 
  html { 
    font-size: 105.7%; 
  }
} 
@media only screen and (min-width: 1000px) and (max-width: 1200px) { 
  html { 
    font-size: 121.8%; 
  } 
}
      /*---- body ----*/ 
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f242d;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'rubik', Sans-Serif;
}
  
      /*---- navbar ----*/ 
.navbar { 
  display: flex;
  background: transparent;
  backdrop-filter: blur(.3rem);
  border-bottom: .01rem solid #ffffff;
  transition: all .5s ease;
  color: white; 
  width: 100%; 
  height: 6rem; 
  padding: 0; 
  position: fixed;
  align-items: center;
  transform: translateY(-8rem);
  justify-content: space-between;
  text-align: center;
  z-index: 99999; 
  top: 0; 
  left: 0; 
  right: 0; 
}
#bell-icon {
  display: block;
  opacity: 1;
  color: #ffffff;
  font-size: 2rem;
  margin-left: 1rem;
  padding: .2rem;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
  transition: opacity .5s ease;
}
#close-icon {
  display: none;
  opacity: 1;
  color: #ffffff;
  font-size: 1.8rem;
  margin-left: 1rem;
  padding: .4rem .65rem .2rem .45rem;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
  transition: opacity .5s ease;
}
.logo-box {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: .4rem;
}
#logo {
  display: block;
  width: 20rem;
  height: 4rem;
  margin: 0;
  padding: 0;
  pointer-events: none;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
  background: rgba(0,0,0,0.4);
}
.logo-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 50%;
  height: 100%;
  z-index: 1;
  filter: blur(3rem);
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
  transform: skewX(-30deg);
  animation: shine 5s ease-in-out infinite;
}
@keyframes shine {
  0% { left: -150%; }
 50% { left: 150%; }
100% { left: 150%; }
}

#menu-btn {
  display: block;
  opacity: 1;
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #ffffff;
  padding: .3rem;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
  transition: border-color .5s ease, opacity .5s ease;
}
#menu-btn.active {
  border-color: #0ef;
}
#menu-icon {
  border-radius: 50%;
  transform: rotate(0deg);
  border: .2rem solid #ffffff;
  padding: .05rem .25rem 0rem .25rem;
  transition: transform .5s ease-in-out;
}
        /*---- sidebar ----*/
.sidebar { 
  height: 0; 
  width: 0;
  opacity: 0;
  position: fixed; 
  z-index: 99999; 
  overflow: scroll; 
  top: 6.05rem; 
  left: 0; 
  bottom: 0;
  padding: 0;
  background: #2a303a;
  transform: scale(.5);
  transition: all .5s ease-out; 
}
.sidebar.open-msg {
  height: 100%;
  width: 100%;
  opacity: 1;
  transform: scale(1);
}
#default-notify-msg {
  position: relative;
  top: calc(50% - 6.05rem);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  transform: translateY(-50%);
}
         /*---- menubar ----*/ 
.menubar {
  display: block;
  position: fixed;
  width: 100%;
  max-height: 0;
  left: 0;
  right: 0;
  opacity: 1;
  top: 6.05rem;
  backdrop-filter: blur(.3rem);
  background: rgba(0,0,0,0.4);
  transition: max-height .5s ease-in-out, border-bottom .5s ease-out, opacity .5s ease;
  z-index: 99999;
  overflow: hidden;
  border-radius: 0 0 .4rem .4rem;
  border-bottom: none;
}
.menubar.open-menu {
  max-height: 100vh;
  border-bottom: .01rem solid #ffffff;
}
.text-options {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.menu-option {
  display: grid;
  font-size: 1.2rem;
  color: #fff;
  padding: .8rem;
  background: #000;
  border-radius: .4rem;
  border: .01rem solid #fff;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  place-items: center;
  transition: border-color .3s ease;
}
.menu-option:hover {
  border-color: #da23d6;
}
.menu-option a {
  display: none;
}
#home {
  color: #0ef;
  border-color: #0ef;
  transition: border-color .3s ease;
}
#home:hover {
  border-color: #da23d6;
}
#fee-submission {

}
#feedback {

}
#contact-us {
}

     /*---- Front-page ----*/
#page-wrapper {
  display: grid;
  flex: 1;
  margin-top: 6.05rem;
  place-items: center;
}
#page-sk {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 99;
}
.sk {
  display: block;
  margin: auto;
  background: linear-gradient(90deg, #242a35 25%, #303745 50%, #242a35 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
}
.sk-circle {
  width: 5.3rem;
  height: 5.3rem;
  margin-top: 2.25rem;
  border-radius: 50%;
}
.sk-la {
  width: 22rem;
  height: .5rem;
  margin-top: 3.25rem;
  margin-bottom: 1rem;
  border-radius: .2rem;
}
.sk-lb {
  width: 22rem;
  height: .5rem;
  border-radius: .2rem;
}
.sk-box {
  width: 29.8rem;
  height: 43.3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: .8rem;
}
@keyframes skeleton-loading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
#page-content {
  display: block;
  position: relative;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 9;
  transition: opacity .5s ease;
}
#welcome-box {
  display: grid;
  margin-top: 3rem;
  place-items: center;
  opacity: 1;
  transition: opacity 1s ease;
}
#welcome-icon-box {
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  padding: 0;
}
#welcome-icon {
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
  animation: rotation 5s linear infinite;
}
.logo-color {
  background: linear-gradient(to right, #0fcefa, #8367da, #da23d6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.welcome_texts_div {
  display: grid;
  position: relative;
  width: 21rem;
  place-items: center;
  margin: auto;
  margin-bottom: 1.5rem;
}
#welcome {
  text-align: center;
  font-size: 2.8rem;
  font-family: "Rubik Wet Paint", system-ui;
  letter-spacing: .2rem;
  background: linear-gradient(-45deg, #00cc00 60%, #0fcefa 65%, #8367da 70%, #da23d6 75%, #00cc00 85%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: flash 5s infinite linear;
}
@keyframes flash {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}
#g_i_container {
  display: block;
  position: relative;
  background: transparent;
  box-shadow: 0 .3rem 1rem #007bff;
  transition: transform 1s ease, opacity 1s ease;
  transform: translateY(0); /* Initial position */
  opacity: 1;
  will-change: transform, opacity;
  border: .1rem solid #0ef;
  border-radius: .8rem; 
  margin-top: 3rem;
  margin-bottom: 6rem;
  align-items: center;
  padding: 2.3rem;
}
#g_i_container.up {
  transform: translateY(-100vh); /* Moves up */
  opacity: 0;
}
#g_i_container.down {
  transform: translateY(100vh); /* Comes from bottom */
  opacity: 0;
}
.reg_texts_div {
  display: grid;
  width: 21rem;
  place-items: center;
  margin: auto;
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1.5rem;
  position: relative;
  z-index: 1;
  background-color: transparent;
  overflow: hidden;
}
.reg_texts_div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background: linear-gradient(to right, #0fcefa, #8367da, #da23d6);
  background-size: 200% 100%;
  background-position: 0 0;
  transition: background-position .5s ease-in-out;
  z-index: 2;
}
.reg_texts_div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  border-radius: 0 0 1.5rem 1.5rem;
  background: linear-gradient(to left, #0fcefa, #8367da, #da23d6);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s ease-in-out;
  z-index: 2;
}
.reg_texts_div:hover::before {
  background-position: 100% 0;
}

.reg_texts_div:hover::after {
  background-position: 0 0;
}
#reg {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 1.8rem;
  font-family: 'Rubik Scribble', system-ui;
}
#general-instruction-heading {
  display: flex;
  background: transparent;
  color: #0ef;
  font-family: "Ubuntu", Sans-Serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  border: .1rem double #0ef;
  border-radius: .4rem .4rem 0 0; 
  margin-top: 2rem;
  margin: auto;
  margin-bottom: 0;
  width: 25rem;
  height: 3rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#scroll-box {
  height: 29rem;
  width: 25rem;
  padding: 0;
  margin: auto;
  margin-top: 0;
  color: white;
  background: transparent;
  border-radius: 0 0 0 0;
  border-left: .1rem double #0ef;
  border-right: .1rem double #0ef;
  border-bottom: .1rem double #0ef;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#scroll-box::-webkit-scrollbar {
  display: block;
}
#scroll-box::-webkit-scrollbar-track {
  background: transparent;
  border-left: .001rem solid #0ef;
}
#scroll-box::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
  border: .1rem solid #1f242d;
}
#scroll-box-content {
  padding: 1rem;
}
.main-instructions {
  text-align: center;
  font-style: italic;
  color: lightgrey;
  margin: auto;
}
.sections {
  text-align: left;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.section-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.section-list li {
  display: flex;
  align-items: center;
  margin-bottom: .3rem;
}
.section-list .fa {
  vertical-align: top;
  color: skyblue;
}
.sub-headings {
  text-align: left;
  color: skyblue;
}
.sub-headings:before {
  content: '\f178';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #0ef;
  margin-right: .5rem;
}
.sub-instructions {
  text-align: left;
  font-size: 1.2rem;
  margin: auto;
}
.sub-instructions-list {
  list-style-type: circle;
  padding-left: 2rem;
  padding-right: 1rem;
}
.sub-instructions-list:last-child {
  margin-bottom: 2.5rem;
}
.sub-instructions-list li {
  font-family: 'Helvetica', 'Arial', Sans-Serif;
  text-align: justify;
  margin-left: 0;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
}
.sub-instructions-list li:nth-child(2) {
  margin-bottom: 3rem;
}
.asterisk {
  color: red;
  margin: 0;
  padding: 0;
}
.checkbox-container {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}
#instruction_check_btn {
  display: flex;
  width: 22rem;
  height: 2.46rem;
  border-radius: .4rem;
  border: .1rem solid #0ef;
  margin-top: 1.2rem;
  color: white;
  position: relative;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.2rem;
  transition: box-shadow .3s ease;
}
#instruction_check_btn:focus {
  outline: none;
}
#instruction_chck_btn:hover {
  box-shadow: 0 0 .5rem rgba(245, 245, 245, 0.5);
}
#instruction_check_btn.btn-checked {
  background-color: #a8fff8;
  color: #1f242d;
}
.checkbox-error {
  display: none;
  margin-bottom: 1.2rem;
  color: red;
}
.thanks-msg {
  color: #00cc00;
  margin-bottom: 3.5rem;
  text-align: center;
}
.container {
  display: none;
  position: relative;
  background-color: transparent;
  box-shadow: 0 .3rem 1rem #007bff;
  transition: transform 1s ease, opacity 1s ease;
  border: .1rem solid #0ef;
  border-radius: .8rem; 
  margin-top: 3rem;
  margin-bottom: 6rem;
  transform: translateX(-100vw); /* Starts off-screen to the left */
  opacity: 0;
  will-change: transform, opacity;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  place-items: center;
}
.container.left {
  transform: translateX(0); /* Moves into view */
  opacity: 1;
}
.container.right {
  transform: translateX(100vw); /* Moves out to the right */
  opacity: 0;
}
.session {
  display: block;
  position: relative;
  background: transparent;
  box-shadow: 0 .3rem 1rem #007bff;
  color: white;
  width: 9rem;
  padding: .4rem;
  top: 0;
  font-weight: bold;
  border-left: .1rem ridge #0ef;
  border-right: .1rem ridge #0ef;
  border-bottom: .1rem ridge #0ef;
  border-radius: 0 0 .4rem .4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heading {
  position: relative;
  color: #262626;
  text-shadow: 
   -.08rem -.08rem 0 #0ef,
   .08rem -.08rem 0 #0ef,
   -.08rem .08rem 0 #0ef,
   .08rem .08rem 0 #0ef;
  justify-content: center;
  text-align: center;
  margin-top: 2.8rem;
  margin-bottom: 2.2rem;
}
.gi-btn {
  display: block;
  position: relative;
  background: transparent;
  box-shadow: 0 .2rem .8rem rgba(0 0 0 / 0.2);
  color: white;
  width: 12rem;
  padding: .4rem;
  font-style: italic;
  border: .1rem double #0ef;
  box-shadow: 0 .3rem 1rem .1rem #007bff;
  border-radius: .4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all .5s ease;
}
.gi-tn:hover {
  box-shadow: 0 .3rem 1rem .1rem #0ef;
  transform: scale(1.03);
}
form {
  margin-top: 3rem;
}
label:not(.float-label):not(.solid-label) {
  display: none;
  position: absolute;
  pointer-events: none;
  color: white;
  left: .8rem;
  top: 0;
  font-weight: bold;
  font-size: .9rem;
  padding: 0 .5rem;
  background-color: #1f242d;
  transform: translateY(-50%);
}
.float-label {
  position: absolute;
  pointer-events: none;
  color: white;
  top: 50%;
  left: .7rem;
  font-size: 1.1rem;
  padding: 0 .5rem;
  transform: translateY(-50%);
  transition: all .3s ease;
}
.dob-fl {
  display: none;
}
.solid-label {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: .9rem;
  margin-left: .2rem;
  pointer-events: none;
}
.declaration_label {
  font-size: 1.2rem;
}
.inp_text_imp:after {
  content:" *";
  color: red;
}
.input-fields {
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: .4rem;
  opacity: 0;
  transform: translateY(5rem);
  transition: all .5s ease;
}
input {
  background: transparent;
  color: white;
  padding: .8rem;
  width: 20.8rem;
  margin: 0;
  border-radius: .4rem;
  border: .1rem solid #0ef;
  transition: all .3s ease;
}

input:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}

input:focus + .float-label,
input:not(:placeholder-shown) + .float-label {
  top: 0;
  font-size: .9rem;
  font-weight: bold;
  background-color: #1f242d;
}

input::placeholder {
  opacity: 0;
  color: lightgrey;
  transition: opacity .3s ease;
}

input:focus::placeholder {
  opacity: 1;
}
.valid {
  border: .1rem solid #00cc00 !important;
}
.invalid {
  border: .1rem solid red !important;
}
.dob-ol {
  display: block;
}
.select-fields {
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: .4rem;
  opacity: 0;
  transform: translateY(5rem);
  transition: all .5s ease;
}
.option-label {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  color: white;
  left: 1.2rem;
  top: 50%;
  font-size: 1.1rem;
  background-color: #1f242d;
  transform: translateY(-50%);
}
.option-label:not(.not-imp):after {
  content:" *";
  color: red;
}
select {
  background: transparent;
  color: white;
  padding: .8rem;
  width: 22.6rem;
  margin: 0;
  border-radius: .4rem;
  border: .1rem solid #0ef;
}
select:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
.select-option {
  display: none;
}
.select-asterisk {
  color: red;
}
.inline-inputs {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin-bottom: 1.5rem;
  border-radius: .4rem;
}
.cs-box {
  margin: 0;
}
.cs-box:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
.no-focus {
  width: 9rem;
  pointer-events: none;
}
.country {
  margin-bottom: 2rem;
  padding: 0;
}
.osa-element {
  opacity: 0;
  transform: translateY(5rem);
  transition: opacity .5s ease, transform .5s ease;
}
.animate {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.photo-note {
  color: lightgrey;
  text-align: center;
  font-size: .8rem;
}
.photo_container {
  display: grid;
  margin-bottom: 3rem;
  place-items: center;
}
#photo_box {
  display: flex;
  overflow: hidden;
  background: transparent;
  border: .1rem solid #0ef;
  border-radius: .4rem;
  width: 9rem;
  height: 9rem;
  margin-top: .8rem;
  margin-bottom: .3rem;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}
#photo-error {
  display: none;
  color: red;
  font-size: .8rem;
  text-align: center;
  margin-top: .8rem;
}
#default_image_photo { 
  width: 9rem; 
  height: 9rem; 
} 
#inp_photo {
  display: none;
}
#upload_photo_btn {
  display: inline-block;
  background: transparent;
  color: #00cc00;
  padding: .2rem;
  height: 3rem;
  width: 20.8rem;
  margin-top: 1rem;
  border: .1rem solid #0ef;
  border-radius: .4rem;
  text-align: center;
}
#upload_photo_btn:hover {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
#delete_photo_btn {
  display: none;
  background: transparent;
  color: red;
  padding: .2rem;
  height: 3rem;
  width: 20.8rem;
  margin-top: 1rem;
  border: .1rem solid #00cc00;
  border-radius: .4rem;
  text-align: center;
}
#delete_photo_btn:hover {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
#upload-error {
  display: none;
  color: red;
  font-size: .8rem;
  text-align: center;
}
#after-review {
  display: none;
  margin: 0;
  padding: 0;
}
#declaration_msg {
  color: #ffffff;
  width: 22.5rem;
  font-size: 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  padding-top: 2.8rem;
  border-top: .1rem dashed lightgrey;
}
#declaration_msg p {
  margin: 0;
  text-align: justify;
  line-height: 2rem;
  margin-top: .8rem;
}
#declaration_check_btn {
  display: flex;
  width: 22rem;
  height: 2.46rem;
  border-radius: .4rem;
  border: .1rem solid #0ef;
  color: white;
  background-color: transparent;
  margin-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
}
#declaration_check_btn:focus {
  outline: none;
}
#declaration_check_btn:hover {
  box-shadow: 0 0 .5rem rgba(245, 245, 245, 0.5);
}
#declaration_check_btn.btn-checked {
  background-color: #a8fff8;
  color: #1f242d;
}
.declaration-checkbox-error {
  display: none;
  margin-bottom: 2.5rem;
  color: red;
}
.inline-boxes {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  padding: 0;
}
#captcha_container {
  background-image: url('https://assets.onecompiler.app/42fkuwhzd/42u3dq83t/1000042472.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 .3rem 1rem rgba(0 0 0 / 0.2);
  color: rgba(245, 245, 245, 0.8);
  width: 9rem;
  padding: .8rem;
  border: .1rem solid #0ef;
  border-radius: .4rem;
  text-align: center;
  letter-spacing: .3rem;
  font-family: "Liber Baskerville", serif;
  font-style: italic;
  font-size: 1.6rem;
}
#inp_captcha {
  display: block;
  text-align: center;
  width: 9rem;
  letter-spacing: .2rem;
  border-radius: .4rem;
  font-size: 1.6rem;
  padding: .8rem;
}
#inp_captcha::placeholder {
  align-items: center;
  text-align: center;
  color: lightgrey;
  opacity: 1;
  transform: translateY(-.1rem);
  letter-spacing: normal;
  font-size: 1.2rem;
}
#captcha_texts {
 margin-bottom: 2.2rem;
}
#captcha_note {
  display: inline-block;
  margin-left: .2rem;
  margin-right: 2.3rem;
  color: #ffffff;
}
#captcha_msg {
  display: inline-block;
  font-size: 1rem;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 0;
}
#start-disabled-btn {
  display: inline-block;
  background-color: transparent;
  color: white;
  font-family: 'Chakra Petch', Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  border: .01rem solid white;
  border-radius: 1.5rem;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  text-align: center;
  transition: all .3s ease;
}
#start-disabled-btn:hover {
  border: .08rem solid white;
  box-shadow: 0 0 .5rem rgba(245, 245, 245, 0.5);
}
#submit-disabled-btn {
  display: inline-block;
  background-color: transparent;
  color: white;
  font-family: 'Chakra Petch', Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 2rem;
  border: .01rem solid white;
  border-radius: 1.5rem;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  text-align: center;
  transtion: all .3s ease;
}
#submit-disabled-btn:hover {
  border: .08rem solid white;
  box-shadow: 0 0 .5rem rgba(245, 245, 245, 0.5);
}
.form-start-btn {
  display: none;
  position: relative;
  background: transparent;
  color: white;
  font-family: 'Chakra Petch', Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  border: .01rem solid #0ef;
  border-radius: 1.5rem;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  text-align: center;
  transition: all .3s ease;
}
.form-strt-btn:hover {
  border: .08rem solid #007bff;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
#submit-btn {
  display: none;
  background: transparent;
  color: white;
  font-family: 'Chakra Petch', Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  border: .01rem solid #0ef;
  border-radius: 1.5rem;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  text-align: center;
  transtion: all .3s ease;
}
#submit-btn:hover {
  border: .08rem solid #007bff;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}

#submit-error {
  display: none;
  width: 100%;
  color: red;
  margin: auto;
  max-width: 20rem;
  text-align: center;
  margin-top: 3rem;
  font-size: 1rem;
}
#form-error {
  display: none;
  color: red;
  width: 20rem;
  margin: auto;
  margin-top: 3rem;
  line-height: 1.5rem;
}
#error-icon {
  display: none;
  position: absolute;
  color: red;
  top: 50%;
  right: 1rem;
  font-size: 1.3rem;
  transform: translateY(-50%);
}
#error {
  display: none;
  color: red;
  font-size: .8rem;
  margin-left: .3rem;
  transform: translateY(-.5rem);
}
.error-shake {
  animation: errorShake .5s ease-in-out;
}
@keyframes errorShake {
    0% { transform: translate(0, -.5rem); }
   25% { transform: translate(-.5rem, -.5rem); }
   50% { transform: translate(.5rem, -.5rem); }
   75% { transform: translate(-.5rem, -.5rem); }
  100% { transform: translate(0, -.5rem); }
}
#v-box-bg {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  right: 0;
  bottom: 0;
  top: 6.05rem;
  opacity: 0;
  width: 100%;
  transform: scale(0);
  height: calc(100vh - 6.05rem);
  place-items: center;
  backdrop-filter: blur(.3rem);
  transition: all .5s ease;
  background-color: rgba(0, 0, 0, 0.4);
}
#v-box-bg.visible {
  opacity: 1;
  transform: scale(1);
}
#v-box {
  background-color: #171717;
  width: 23rem;
  border: .1rem solid #0ef;
  border-radius: 2rem;
  text-align: center;
  transform: scale(1);
  transition: all .5s ease;
}
#v-box.close {
  transform: scale(0);
}
.v-header {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 2rem 2rem 0 0;
  border-bottom: .1rem solid #0ef;
}
#v-lock {
  display: block;
  color: #4da3ff;
  font-size: 2rem;
}
#v-unlock {
  display: none;
  color: #00cc00;
  font-size: 2rem;
}
#v-dl {
  display: none;
  color: #00cc00;
  font-size: 2rem;
}
#v-box h2 {
  color: #00cdd5;
  font-size: 1.8rem;
  margin: 0;
}
.v-body {
  position: relative;
  padding: 1.5rem;
  padding-top: .5rem;
  overflow: hidden;
  z-index: 9;
  border-radius: 0 0 2rem 2rem;
}
#v-otp-verify {
  display: block;
  margin: 0;
  padding: 0;
}
#v-note {
  color: #ffffff;
  font-style: italic;
  margin-bottom: 1.5rem;
}
.mail-box {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
#v-eye, #v-eye-slash {
  display: block;
  color: #4da3ff;
  font-size: 1.2rem;
}
#v-eye:hover {
  color: #007bff;
}
#v-eye-slash {
  display: none;
  color: #4da3ff;
  font-size: 1.2rem;
}
#v-eye-slash:hover {
  color: #007bff;
}
#mask-mail {
  color: #ffffff;
  margin: 0;
  width: 14rem;
  padding: .3rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  border-radius: .4rem;
  border: .05rem solid #00cc00;
  overflow: scroll;
}
#mask-mail::-webkit-scrollbar {
  display: none;
}
#edit-btn {
  color: #ff8800;
  font-size: 1.2rem;
}
#edit-btn:hover {
  color: #b35f00;
}
#q-mark {
  display: none;
  color: lightgrey;
  font-size: 1.2rem;
}
#q-mark:hover {
  color: grey;
}
#q-mark:hover + .q-msg {
  display: block;
}
.q-msg {
  display: none;
  position: absolute;
  padding: .8rem;
  top: 0;
  left: 0;
  right: 0;
  color: #171717;
  background-color: #f5f5f5;
}
#edit-q {
  display: grid;
  position: absolute;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 99;
  color: #171717;
  text-align: center;
  overflow: hidden;
  place-items: center;
  background-color: #f5f5f5;
  transition: all .5s ease;
}
#edit-q.expand {
  opacity: 1;
  height: 100%;
}
.edit-q-content {
  padding: 1rem;
  transform: scale(1) rotate(0deg);
  transition: transform 1s ease-in-out;
  border-radius: .4rem .4rem .8rem .8rem;
  border: .1rem solid #007bff;
}
.edit-q-content.move-in {
  transform: scale(0) rotate(180deg);
}
.edit-q-content.move-out {
  transform: scale(1) rotate(360deg);
}
.edit-q-content h3 {
  margin: 0;
  color: #007bff;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
#q {
  display: block;
}
.q-content {
  margin: 0;
  color: #171717;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}
.ans-btns, .dl-btns {
  display: flex;
  gap: 3rem;
  margin-top: 1.2rem;
  align-items: center;
  justify-content: center;
}
.edit-q-content button {
  width: 5rem;
  padding: .5rem;
  color: #ffffff;
  border-radius: .4rem;
  border: .01rem solid #171717;
  transition: all .3s ease;
}
#edit-yes {
  background: maroon;
}
#edit-yes:hover {
  border: .1rem solid maroon;
  background: transparent;
  color: maroon;
}
#edit-no {
  background: green;
}
#edit-no:hover {
  border: .1rem solid green;
  background: transparent;
  color: green;
}
#edit-inp {
  display: none;
}
#quite-edit {
  position: absolute;
  right: -3rem;
  top: -3rem;
  color: red;
  z-index: 100;
  font-size: 1.2rem;
  padding: .3rem;
  background: #f5f5f5;
  border-radius: 0 0 0 .4rem;
  transition: all 1s ease;
  box-shadow: -0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}
#quite-edit.move {
  right: 0;
  top: 0;
}
#quite-edit:hover {
  color: maroon;
}
#inp_c_email {
  width: 16.8rem;
  color: #171717;
  border: .1rem solid grey;
}
#inp_c_email:focus {
  outline: none;
  box-shadow: none;
}
#inp_c_email::placeholder {
  color: #888;
}
.c-email-label {
  color: #171717;
  left: .5rem;
}
#inp_c_email:focus + .c-email-label,
#inp_c_email:not(:placeholder-shown) + .c-email-label {
  color: grey;
  background-color: #f5f5f5;
}
.c-email-field {
  position: relative;
  margin: 0;
  border-radius: .4rem;
}
#c-email-msg {
  display: none;
  margin: 0;
  margin-top: 1rem;
  z-index: 100;
}
#otp-btn {
  width: 10rem;
  padding: .5rem;
  color: #ffffff;
  margin-top: 1rem;
  background: #00cc00;
  border-radius: .4rem;
  border: .01rem solid #171717;
  transition: all .3s ease;
}
#otp-btn:hover {
  color: #00cc00;
  background: transparent;
  border: .1rem solid #00cc00;
}
#resend-otp {
  display: block;
  padding: 0 .5rem;
  width: fit-content;
  margin: 2rem auto;
  color: #ffffff;
  font-size: 1rem;
  padding-bottom: .2rem;
  transition: all .3s ease;
  border-bottom: .05rem solid #ccc;
}
#resend-otp:hover {
  color: lightgrey;
  border-color: #007bff;
}
.clock {
  color: #4da3ff;
  margin: 0 .5rem;
  font-size: 1.2rem;
  transition: color .3s ease;
}
#resend-otp:hover .clock {
  color: #007bff;
}
.timer {
  font-size: 1.2rem;
}
#resend-msg {
  display: none;
  z-index: 10;
}
#inp_otp {
  margin: auto;      
  width: 10rem;
  padding: .5rem;   
  font-size: 1.5rem;
  letter-spacing: .4rem;  
  font-weight: bold;
  border-radius: .4rem;  
  border: .1rem solid #0ef;          
  text-align: center;
}
#inp_otp:hover {
  outline: none;
  box-shadow: 0 0 .5rem #007bff;
}
#inp_otp:focus {
  outline: none;
  box-shadow: 0 0 .5rem #007bff;
}
#inp_otp::placeholder {
  opacity: 1;
  font-size: 1.2rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: normal;
}
#otp-msg {
  display: none;
  z-index: 10;
}
.successful {
  display: block !important;
  color: #00cc00 !important;
}
.unsuccessful {
  display: block !important;
  color: red !important;
}
.shake {
  animation: shake .5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-.5rem);
  }
  50% {
    transform: translateX(.5rem);
  }
  75% {
    transform: translateX(-.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
#otp-verify-gif {
  display: none;
  width: 3rem;
  height: 3rem;
  margin: auto;
  z-index: 10;
  margin-top: 2rem;
  pointer-events: none;
}
#vlg-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  place-items: center;
  background-color: rgba(0,0,0,0.4);
}
#verify-loading-gif {
  position: fixed;
  width: 3rem;
  height: 3rem;
  pointer-events: none;
}
#v-form-dl {
  display: none;
  margin-top: 1rem;
  padding: 0;
}
.dl-q {
  margin: 0;
  color: #ffffff;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: bold;
}
.dl-btns button {
  width: 5rem;
  padding: .5rem;
  color: #ffffff;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
  transition: all .3s ease;
}
#dl-no {
  background: #990000;
}
#dl-no:hover {
  border-color: red;
  background: transparent;
  color: red;
}
#dl-yes {
  background: #008000;
}
#dl-yes:hover {
  border-color: #00cc00;
  background: transparent;
  color: #00cc00;
}
#alert-box {
  display: flex;
  position: fixed;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  width: 0;
  height: 0;
  max-width: 25rem;
  max-height: 2.5rem;
  margin: 0;
  right: 3rem;
  bottom: 3rem;
  padding: .2rem;
  padding-right: 3rem;
  opacity: 0;
  z-index: 9;
  overflow: hidden;
  transition: all 1s ease;
  border-radius: .4rem .8rem 0 .4rem;
  border: .1rem solid #ffffff;
  background: transparent;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#alert-box.warning {
  opacity: 1;
  width: 100%;
  height: 100%;
  background: maroon;
}
#alert-box.review {
  opacity: 1;
  width: 100%;
  height: 100%;
  background: #007bff;
}
.arrow-icon {
  margin-left: .5rem;
}
         /*-- Online/Offline status --*/
#status-bar {
  display: none;
  position: fixed;
  left: 0; 
  bottom: 0; 
  right: 0; 
  opacity: 0;
  width: 100%; 
  height: calc(100vh - 6.05rem); 
  z-index: 99999;
  place-items: center;
  transition: all .8s ease;
  background-color: #1f242d;
}
#status-bar-content {
  display: grid;
  margin: 0;
  padding: 0;
  place-items: center;
}
#status-bar-icons {
  display: flex;
  position: relative;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: .1rem solid #0ef;
}
#internet-img {
  height: 10rem;
  width: 10rem;
  opacity: 1;
  pointer-events: none;
}
#no-internet-icon {
  position: absolute;
  opacity: 0;
}
.wifi-dot {
  animation: pulse-opacity 1s infinite ease-in-out;
}
.wifi-arc1 {
  animation: pulse-opacity 1.2s infinite ease-in-out;
}
.wifi-arc2 {
  animation: pulse-opacity 1.5s infinite ease-in-out;
}
.circle {
  animation: pulse-opacity-stroke 1s infinite ease-in-out;
}
.slash {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 1s ease-in-out forwards; /* One-time animation */
}
@keyframes pulse-opacity {
  0%, 100% {
    fill-opacity: 1;
  }
  50% {
    fill-opacity: 0.5;
  }
}
@keyframes pulse-opacity-stroke {
  0%, 100% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.5;
  }
}
@keyframes draw {
  0% {
    stroke-dashoffset: 200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#internet-msg {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
}
     /*---- Ad-blocker detection ----*/
.adblock-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  width: 100%;
  transition: opacity .3s ease;
  height: calc(100vh - 6.05rem);
  place-items: center;
  backdrop-filter: blur(.3rem);
  background-color: rgba(0, 0, 0, 0.4);
}
.adblock-container.show {
  display: grid;
}
.adblock-message {
  background-color: #171717;
  padding: 2rem;
  width: 25rem;
  border: .1rem solid #0ef;
  border-radius: 2rem;
  text-align: center;
}
.adblock-message svg {
  width: 5rem;
  height: 5rem;
  fill: none;
  stroke: #ff0000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  margin-bottom: .8rem;
}
.adblock-message h2 {
  color: #00cdd5;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.adblock-message p {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.adblock-message b {
  color: #00cdd5;
}
.adblock-message span {
  color: #00cc00;
  font-weight: bold;
}
.adblock-message a {
  color: #00ffff;
  text-decoration: none;
  font-size: 1rem;
}
      /*---- footer ----*/
.footer {
  display: flex;
  background: transparent;
  backdrop-filter: blur(.3rem);
  color: #0ef;
  border-top: .01rem solid #0ef;
  box-shadow: 0 -0.3rem 1rem #007bff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: 6rem;
  line-height: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
     /*---- loading ----*/
#loading-bg { 
  display: none; 
  position: fixed;
  left: 0; 
  bottom: 0; 
  right: 0; 
  width: 100%; 
  height: calc(100vh - 6.05rem); 
  z-index: 999999;
  place-items: center;
  background-color: rgba(0,0,0,0.4); 
} 
#loading {
  display: block;
  border: .01rem solid white; 
  border-radius: 50%;
  position: fixed;
  background-image: url('https://assets.onecompiler.app/42fkuwhzd/42u3dq83t/1000025857.gif');
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 99999; 
  height: 5rem; 
  width: 5rem;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
    transform: translate;
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading-error {
  display: none;
  position: fixed;
  width: 5rem;
  height: 5rem;
  fill: none;
  stroke: #ff0000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  border-radius: 50%;
  backdrop-filter: blur(.3rem);
  border: .1rem solid #ff0000;
}
#back-note {
  display: none;
  position: absolute;
  color: white;
  text-align: center;
  border-radius: .3rem;
  border: .01rem solid #0ef;
  padding: .4rem;
  bottom: .5rem;
}
#wait-note {
  display: none;
  position: absolute;
  color: white;
  text-align: center;
  border-radius: .3rem;
  border: .01rem solid #0ef;
  padding: .4rem;
  bottom: 3rem;
}