           /*---- media-query ----*/ 
@media only screen and (max-width: 400px) { 
  html { 
    font-size: 62.5%; 
  } 
} 
@media only screen and (min-width: 401px) and (max-width: 600px) { 
  html { 
    font-size: 78.125%; 
  } 
} 
@media only screen and (min-width: 601px) and (max-width: 768px) { 
  html { 
    font-size: 90%; 
  } 
} 
@media only screen and (min-width: 769px) and (max-width: 999px) { 
  html { 
    font-size: 105.7%; 
  }
} 
@media only screen and (min-width: 1000px) and (max-width: 1200px) { 
  html { 
    font-size: 121.8%; 
  } 
}
      /*---- body ----*/ 
body {
  display: grid;
  background-color: #1f242d;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  place-items: center;
  font-family: 'rubik', Sans-Serif;
}
     /*---- navbar ----*/ 
.navbar { 
  display: flex;
  background: transparent;
  backdrop-filter: blur(.3rem);
  border-bottom: .01rem solid #ffffff;
  transition: all .8s ease;
  color: white; 
  width: 100%; 
  height: 6rem; 
  padding: 0; 
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 99999; 
  top: 0; 
  left: 0; 
  right: 0; 
}
.nav-list {
  list-style: none;
  display: inline-block;
  padding: 0;
}
#logo {
  width: 20rem;
  height: 4rem;
  pointer-events: none;
  border-radius: .4rem;
  border: .01rem solid #ffffff;
  background: rgba(0,0,0,0.4);
}
     /*---- Front-page ----*/
#g_i_container {
  display: block;
  background-image: url('https://i.ibb.co/ZV9jb7r/simple-blue-gradient-background-vector-business-53876-171631.jpg');
  background: transparent;
  box-shadow: 0 .3rem 1rem #007bff;
  transition: transform 1s ease, opacity 1s ease;
  transform: translateY(0); /* Initial position */
  opacity: 1;
  border: .1rem solid #0ef;
  border-radius: .8rem; 
  margin-top: 9rem;
  margin-bottom: 6rem;
  align-items: center;
  padding: 2.3rem;
}
#g_i_container.up {
  transform: translateY(-60rem); /* Moves up */
  opacity: 0;
}
#g_i_container.down {
  transform: translateY(60rem); /* Comes from bottom */
  opacity: 1;
}
#welcome-box {
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  padding: 0;
}
#welcome-icon {
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
  animation: rotation 5s linear infinite;
}
.welcome_texts_div {
  display: grid;
  width: 21rem;
  place-items: center;
  margin: auto;
  margin-bottom: 1.5rem;
}
#welcome_note {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Slabo 27px", serif;
  font-style: normal;
  font-weight: normal;
  margin: auto;
  letter-spacing: .1rem;
  color: #262626;
  text-shadow: 
   -.08rem -.08rem 0 #0ef,
   .08rem -.08rem 0 #0ef,
   -.08rem .08rem 0 #0ef,
   .08rem .08rem 0 #0ef;
}
.welcome {
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: .3rem;
  text-shadow: 
   -.08rem -.08rem 0 #00cc00,
   .08rem -.08rem 0 #00cc00,
   -.08rem .08rem 0 #00cc00,
   .08rem .08rem 0 #00cc00;
}
#general-instruction-heading {
  display: flex;
  background: transparent;
  color: #0ef;
  font-family: "Ubuntu", Sans-Serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
  border: .1rem double #0ef;
  border-radius: .4rem .4rem 0 0; 
  margin-top: 2rem;
  margin: auto;
  margin-bottom: 0;
  width: 25rem;
  height: 3rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#scroll-box {
  height: 29rem;
  width: 25rem;
  padding: 0;
  margin: auto;
  margin-top: 0;
  color: white;
  background: transparent;
  border-radius: 0 0 0 0;
  border-left: .1rem double #0ef;
  border-right: .1rem double #0ef;
  border-bottom: .1rem double #0ef;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#scroll-box::-webkit-scrollbar {
  display: block;
}
#scroll-box::-webkit-scrollbar-track {
  background: transparent;
  border-left: .001rem solid #0ef;
}
#scroll-box::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
  border: .1rem solid #1f242d;
}
#scroll-box-content {
  padding: 1rem;
}
.main-instructions {
  text-align: center;
  font-style: italic;
  color: lightgrey;
  margin: auto;
}
.sections {
  text-align: left;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.section-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.section-list li {
  display: flex;
  align-items: center;
  margin-bottom: .3rem;
}
.section-list .fa {
  vertical-align: top;
  color: skyblue;
}
.sub-headings {
  text-align: left;
  color: skyblue;
}
.sub-headings:before {
  content: '\f178';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #0ef;
  margin-right: .5rem;
}
.sub-instructions {
  text-align: left;
  font-size: 1.2rem;
  margin: auto;
}
.sub-instructions-list {
  list-style-type: circle;
  padding-left: 2rem;
  padding-right: 1rem;
}
.sub-instructions-list:last-child {
  margin-bottom: 2.5rem;
}
.sub-instructions-list li {
  font-family: 'Helvetica', 'Arial', Sans-Serif;
  text-align: justify;
  margin-left: 0;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
}
.sub-instructions-list li:nth-child(2) {
  margin-bottom: 3rem;
}
.asterisk {
  color: red;
  margin: 0;
  padding: 0;
}
.checkbox-container {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}
#instruction_check_btn {
  display: flex;
  width: 22rem;
  height: 2.46rem;
  border-radius: .4rem;
  border: .1rem solid #0ef;
  margin-top: 1.2rem;
  color: white;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.2rem;
}
#instruction_check_btn:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
#instruction_check_btn.btn-checked {
  background-color: #a8fff8;
  color: #1f242d;
}
.checkbox-error {
  display: none;
  margin-bottom: 1.2rem;
  color: red;
}
.thanks-msg {
  color: #00cc00;
  margin-bottom: 3.5rem;
  text-align: center;
}
.logo-color {
  background: linear-gradient(to right, #0fcefa, #8367da, #da23d6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.container {
  display: none;
  position: relative;
  background-color: transparent;
  backdrop-filter: blur(.2rem);
  box-shadow: 0 .3rem 1rem #007bff;
  transition: transform 1s ease, opacity 1s ease;
  border: .1rem solid #0ef;
  border-radius: .8rem; 
  margin-top: 9rem;
  margin-bottom: 6rem;
  transform: translateX(-60rem); /* Starts off-screen to the left */
  opacity: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  place-items: center;
}
.container.left {
  transform: translateX(0); /* Moves into view */
  opacity: 1;
}
.container.right {
  transform: translateX(60rem); /* Moves out to the right */
  opacity: 0;
}
.session {
  display: block;
  position: relative;
  background: transparent;
  box-shadow: 0 .3rem 1rem #007bff;
  color: white;
  width: 9rem;
  padding: .4rem;
  top: 0;
  font-weight: bold;
  border-left: .1rem ridge #0ef;
  border-right: .1rem ridge #0ef;
  border-bottom: .1rem ridge #0ef;
  border-radius: 0 0 .4rem .4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heading {
  position: relative;
  color: #262626;
  text-shadow: 
   -.08rem -.08rem 0 #0ef,
   .08rem -.08rem 0 #0ef,
   -.08rem .08rem 0 #0ef,
   .08rem .08rem 0 #0ef;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.8rem;
}
.gi-btn {
  display: block;
  position: relative;
  background: transparent;
  box-shadow: 0 .2rem .8rem rgba(0 0 0 / 0.2);
  color: white;
  width: 12rem;
  padding: .4rem;
  font-style: italic;
  border: .1rem double #0ef;
  box-shadow: 0 .3rem 1rem .1rem #007bff;
  border-radius: .4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all .5s ease;
}
.gi-btn:hover {
  box-shadow: 0 .3rem 1rem .1rem #0ef;
  transform: scale(1.03);
}
form {
  margin-top: 3rem;
}
label:not(.float-label):not(.solid-label) {
  display: none;
  position: absolute;
  pointer-events: none;
  color: white;
  left: .8rem;
  top: 0;
  font-weight: bold;
  font-size: .9rem;
  padding: 0 .5rem;
  background-color: #1f242d;
  transform: translateY(-50%);
}
.float-label {
  position: absolute;
  pointer-events: none;
  color: white;
  top: 50%;
  left: .7rem;
  font-size: 1.1rem;
  padding: 0 .5rem;
  transform: translateY(-50%);
  transition: all .3s ease;
}
.solid-label {
  color: white;
  font-weight: bold;
  font-size: .9rem;
  margin-left: .2rem;
}
.declaration_label {
  font-size: 1.2rem;
}
.inp_text_imp:after {
  content:" *";
  color: red;
}
.input-fields {
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: .4rem;
}
input {
  background: transparent;
  color: white;
  padding: .8rem;
  width: 20.8rem;
  margin: 0;
  border-radius: .4rem;
  border: .1rem solid #0ef;
  transition: all .3s ease;
}

input:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}

input:focus + .float-label,
input:not(:placeholder-shown) + .float-label {
  top: 0;
  font-size: .9rem;
  font-weight: bold;
  background-color: #1f242d;
}

input::placeholder {
  opacity: 0;
  color: lightgrey;
  transition: opacity .3s ease;
}

input:focus::placeholder {
  opacity: 1;
}

.valid {
  border: .1rem solid #00cc00;
}
.invalid {
  border: .1rem solid red;
}
.select-fields {
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: .4rem;
}
.option-label {
  position: absolute;
  margin: 0;
  padding: 0;
  color: white;
  left: 1.2rem;
  top: 50%;
  font-size: 1.1rem;
  background-color: #1f242d;
  transform: translateY(-50%);
}
.option-label:not(.not-imp):after {
  content:" *";
  color: red;
}
select {
  background: transparent;
  color: white;
  padding: .8rem;
  width: 22.6rem;
  border-radius: .4rem;
  border: .1rem solid #0ef;
}
select:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
.select-option {
  display: none;
}
.select-asterisk {
  color: red;
}
.inline-inputs {
  display: flex;
  gap: 1rem;
  padding: 0;
}
.no-focus {
  width: 9rem;
  pointer-events: none;
}
.country {
  margin-bottom: 2rem;
  padding: 0;
}
.photo-note {
  color: lightgrey;
  text-align: center;
  font-size: .8rem;
}
.photo_container {
  display: grid;
  margin-bottom: 3rem;
  place-items: center;
}
#photo_box {
  display: flex;
  overflow: hidden;
  background: transparent;
  border: .1rem solid #0ef;
  border-radius: .4rem;
  width: 9rem;
  height: 9rem;
  margin-top: .8rem;
  margin-bottom: .3rem;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}
#photo-error {
  display: none;
  color: red;
  font-size: .8rem;
  text-align: center;
  margin-top: .8rem;
}
#default_image_photo { 
  width: 9rem; 
  height: 9rem; 
} 
#inp_photo {
  display: none;
}
#upload_photo_btn {
  display: inline-block;
  background: transparent;
  color: #00cc00;
  padding: .2rem;
  height: 3rem;
  width: 20.8rem;
  margin-top: 1rem;
  border: .1rem solid #0ef;
  border-radius: .4rem;
  text-align: center;
}
#upload_photo_btn:hover {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
#delete_photo_btn {
  display: none;
  background: transparent;
  color: red;
  padding: .2rem;
  height: 3rem;
  width: 20.8rem;
  margin-top: 1rem;
  border: .1rem solid #00cc00;
  border-radius: .4rem;
  text-align: center;
}
#delete_photo_btn:hover {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
#upload-error {
  display: none;
  color: red;
  font-size: .8rem;
  text-align: center;
}
#after-review {
  display: none;
  margin: 0;
  padding: 0;
}
#declaration_msg {
  color: #ffffff;
  width: 22.5rem;
  font-size: 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  padding-top: 2.8rem;
  border-top: .1rem dashed lightgrey;
}
#declaration_msg p {
  margin: 0;
  text-align: justify;
  line-height: 2rem;
  margin-top: .8rem;
}
#declaration_check_btn {
  display: flex;
  width: 22rem;
  height: 2.46rem;
  border-radius: .4rem;
  border: .1rem solid #0ef;
  color: white;
  background-color: transparent;
  margin-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
}
#declaration_check_btn:focus {
  outline: none;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
#declaration_check_btn.btn-checked {
  background-color: #a8fff8;
  color: #1f242d;
}
.declaration-checkbox-error {
  display: none;
  margin-bottom: 2.5rem;
  color: red;
}
.inline-boxes {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  padding: 0;
}
#captcha_container {
  background-image: url('https://assets.onecompiler.app/42fkuwhzd/42u3dq83t/1000042472.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 .3rem 1rem rgba(0 0 0 / 0.2);
  color: rgba(245, 245, 245, 0.8);
  width: 9rem;
  padding: .8rem;
  border: .1rem solid #0ef;
  border-radius: .4rem;
  text-align: center;
  letter-spacing: .3rem;
  font-family: "Liber Baskerville", serif;
  font-style: italic;
  font-size: 1.6rem;
}
#inp_captcha {
  display: block;
  text-align: center;
  width: 9rem;
  letter-spacing: .2rem;
  border-radius: .4rem;
  font-size: 1.6rem;
  padding: .8rem;
}
#inp_captcha::placeholder {
  align-items: center;
  text-align: center;
  color: lightgrey;
  opacity: 1;
  transform: translateY(-.1rem);
  letter-spacing: normal;
  font-size: 1.2rem;
}
#captcha_texts {
 margin-bottom: 2.2rem;
}
#captcha_note {
  display: inline-block;
  margin-left: .2rem;
  margin-right: 2.3rem;
  color: #ffffff;
}
#captcha_msg {
  display: inline-block;
  font-size: 1rem;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 0;
}
#start-disabled-btn {
  display: inline-block;
  background-color: transparent;
  color: white;
  font-family: 'Chakra Petch', Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  border: .01rem solid white;
  border-radius: 1.5rem;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  text-align: center;
}
#start-disabled-btn:active {
  border: .08rem solid white;
  box-shadow: 0 0 .5rem rgba(245, 245, 245, 0.5);
}
#submit-disabled-btn {
  display: inline-block;
  background-color: transparent;
  color: white;
  font-family: 'Chakra Petch', Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 2rem;
  border: .01rem solid white;
  border-radius: 1.5rem;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  text-align: center;
}
#submit-disabled-btn:active {
  border: .08rem solid white;
  box-shadow: 0 0 .5rem rgba(245, 245, 245, 0.5);
}
.form-start-btn {
  display: none;
  background: transparent;
  color: white;
  font-family: 'Chakra Petch', Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  border: .01rem solid #0ef;
  border-radius: 1.5rem;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  text-align: center;
}
.form-start-btn:active {
  border: .08rem solid #007bff;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
.form-submit-btn {
  display: none;
  background: transparent;
  color: white;
  font-family: 'Chakra Petch', Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  border: .01rem solid #0ef;
  border-radius: 1.5rem;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  text-align: center;
}
.form-submit-btn:active {
  border: .08rem solid #007bff;
  box-shadow: 0 0 .5rem rgba(0, 123, 255, 0.5);
}
#error-icon {
  display: none;
  position: absolute;
  color: red;
  top: 50%;
  right: 1rem;
  font-size: 1.3rem;
  transform: translateY(-50%);
}
#error {
  display: none;
  color: red;
  font-size: .8rem;
  margin-left: .3rem;
  transform: translateY(-.5rem);
}
.alert-bar {
  display: flex;
  position: fixed;
  font-weight: bold;
  color: white;
  width: 25rem;
  bottom: 0;
  margin: 0;
  padding: .5rem;
  opacity: 0;
  transform: scale(0) translateY(0);
  transition: all .3s ease;
  border-radius: .4rem;
  border: .1rem solid white;
  background-color: maroon;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.review-bar {
  display: flex;
  position: fixed;
  font-weight: bold;
  color: white;
  width: 25rem;
  bottom: 0;
  margin: 0;
  padding: .5rem;
  opacity: 0;
  transform: scale(0) translateY(0);
  transition: all .3s ease;
  border-radius: .4rem;
  border: .1rem solid white;
  background-color: #007bff;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.show-alert {
  transform: scale(1) translateY(-3rem);
  opacity: 1;
}
.arrow-icon {
  margin-left: .5rem;
}
#status-bar {
  display: none;
  position: fixed;
  left: 0; 
  bottom: 0; 
  right: 0; 
  opacity: 0;
  width: 100%; 
  height: calc(100vh - 6.05rem); 
  z-index: 9999;
  place-items: center;
  transition: all .8s ease;
  background-color: #1f242d;
}
#status-bar-content {
  display: grid;
  margin: 0;
  padding: 0;
  place-items: center;
}
#internet-img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: .1rem solid #0ef;
  transition: all .5s ease;
}
#internet-msg {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
}
.adblock-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 6.05rem);
  place-items: center;
  backdrop-filter: blur(.3rem);
  background-color: rgba(0, 0, 0, 0.4);
}

.adblock-container.show {
  display: grid; /* Display flex when ad blocker is detected */
}

.adblock-message {
  background-color: #171717;
  padding: 2rem;
  width: 25rem;
  border: .1rem solid #0ef;
  border-radius: 2rem;
  text-align: center;
}

.adblock-message svg {
  width: 5rem;
  height: 5rem;
  fill: none;
  stroke: #ff0000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  margin-bottom: .8rem;
}

.adblock-message h2 {
  color: #00cdd5;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.adblock-message p {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.adblock-message span {
  color: #00cc00;
  font-weight: bold;
}

.adblock-message a {
  color: #00ffff;
  text-decoration: none;
  font-size: 1rem;
}

.footer {
  display: flex;
  background-color: #1f242d;
  color: #0ef;
  border-top: .01rem solid #0ef;
  box-shadow: 0 -0.3rem 1rem #007bff;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: 6rem;
  line-height: 1.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
    /*---- loading ----*/
#loading-bg { 
  display: none; 
  position: fixed;
  left: 0; 
  bottom: 0; 
  right: 0; 
  width: 100%; 
  height: calc(100vh - 6.05rem); 
  z-index: 9999;
  place-items: center;
  background-color: rgba(0,0,0,0.4); 
} 
#loading {
  border: .01rem solid white; 
  border-radius: 50%;
  position: fixed;
  background-image: url('https://assets.onecompiler.app/42fkuwhzd/42u3dq83t/1000025857.gif');
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 99999; 
  height: 5rem; 
  width: 5rem;
  animation: rotation 2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.back-note {
  display: none;
  position: absolute;
  color: white;
  text-align: center;
  border-radius: .3rem;
  border: .01rem solid #0ef;
  padding: .4rem;
  bottom: .5rem;
}
.wait-note {
  display: none;
  position: absolute;
  color: white;
  text-align: center;
  border-radius: .3rem;
  border: .01rem solid #0ef;
  padding: .4rem;
  bottom: 3rem;
}